
<h1> EDITING IS NOT ACTIVE, DO NOT SUBMIT CHANGES </h1>

<h1>Editing songtype</h1>

<% form_for(@songtype) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :identifier %><br />
    <%= @songtype.identifier%>
  </p>
  <p>
    <%= f.label :mime_type %><br />
    <%= f.text_field :mime_type %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @songtype %> |
<%= link_to 'Back', songtypes_path %>
