<h1>Listing songtypes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Identifier</th>
    <th>Mime type</th>
  </tr>

<% for songtype in @songtypes %>
  <tr>
    <td><%=h songtype.name %></td>
    <td><%=h songtype.description %></td>
    <td><%=h songtype.identifier %></td>
    <td><%=h songtype.mime_type %></td>
    <td><%= link_to 'Edit', edit_songtype_path(songtype) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New songtype', new_songtype_path %>
