<p>
  <b>Name:</b>
  <%=h @songtype.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @songtype.description %>
</p>

<p>
  <b>Identifier:</b>
  <%=h @songtype.identifier %>
</p>

<p>
  <b>Mime type:</b>
  <%=h @songtype.mime_type %>
</p>


<%= link_to 'Edit', edit_songtype_path(@songtype) %> |
<%= link_to 'Back', songtypes_path %>
