<p>
  <% if Currentsong.playing %>
  <h1>Now Playing: <%= Currentsong.playing%> <br>By: This is off, needs something added in playerapp<%#= Currentsong.playing.artist.name %></h1>
  <% else %>
    <h1>Now Playing: None</h1>
  <% end %>
  <% form_tag songs_path, :method => 'get' do %>
  <fieldset class="<%= params[:search] ? "searched" : "search" %>">
    <%= text_field_tag :search, params[:search], :class =>"box" %>
    <button class="btn" title="Submit Search">Search</button>
    <%#= submit_tag "Search", :name => nil, :class=>"btn" %>
  </fieldset>
<% end %>
</p>
<% unless reqsongs.empty? %>
<p>
  <b>Request Queue</b>
  <%= draw_songs(reqsongs, :checkbox, :remove_current, :no_track ) %>
</p>
<% end %>
<p>
  <b>Random Queue</b>
<%= draw_songs(randsongs, :checkbox, :remove_current, :no_track, :no_dnd, :request_button) %>
</p>
<script language="javascript" type="text/javascript">setTimeout("<%#= remote_function :url=>{:action=> 'index'}, :method=>:get%>",20000);</script>
